@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left{
    width: 25vw;
    padding: 17px 13px 0px 13px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.right{
    width: 75vw;
    padding: 25px 0 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    margin: 25px 20px 0px 0px;
    height: calc(100vh - 112px - 23px);
}
.home{
    padding: 3px 3px 3px 13px;
    height: 137px;
    display: flex;
    /* padding-right: 78px; */
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.home ul li{
    display: flex;
    gap: 12px;
    list-style: none;
    padding-top: 20px;
    font-size: 17px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 12px;
    width: 357px;
    padding-top: 20px;
    font-size: 20px;
    margin-left: 13px;
    padding-bottom: 10px;
}
.library{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 16px;

}
.footer{
    display: flex;
    font-size: 12px;
    gap: 13px;
    height: 67px;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
}
.footer a{
    color: rgb(98, 98, 98);
    text-decoration: none;
}
.header{
    display: flex;
    background-color: rgb(19 19 19);
    height: 46px;
    align-items: center;
    justify-content: space-between;


}
.header > *{
    padding: 10px;
}
.buttons{
    display: flex;
    text-align: center;
    /* color: black; */
    line-height: 280%;
    cursor: pointer;
    gap: 30px;
}
.signup{
    width: 90px;
    height: 40px;
    border-radius: 86px;
    font-weight: bold;
    color: rgb(112, 106, 106);
    transition: 0.1s;
    background-color: black;
}
.login{
    width: 90px;
    height: 40px;
    color: black;
    border-radius: 86px;
    font-weight: bold;
    transition: 0.1s; 
    background-color: white;
}
.signup:hover{
    transform: scale(1.07);
    font-weight: bolder;
    color: white;
}
.login:hover{
    background-color: rgb(220, 220, 220);
    transform: scale(1.07);
    font-weight: bolder;
}
.spotifyPlaylist{
    padding: 15px;
    height: 37px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 30px;
    overflow-y: auto; 
    flex: 1;
}
.card{
    width: 190px;
    background-color: #222222;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}
.card >* {
    padding-top: 7px;
}
.card img{
    border-radius: 15px;
    width:100%;
    object-fit: contain;
}
.play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px; /* Adjust button size as needed */
    height:50px; /* Adjust button size as needed */
    border-radius: 50%; /* Makes it round */
    background-color: #ffffff; /* Green background */
    position: absolute;
    top: 160px;
    right: 7px;
    opacity: 0;
    transition: all 0.27s ease-out;
  }
  .card:hover .play{
    opacity: 1;
    top: 130px;
    
  }

  .play svg {
    width: 50%; /* Adjust SVG size as needed */
    height:50%; /* Adjust SVG size as needed */
  }
   .playbar {
    z-index: 0;
    position: fixed;
    bottom: 6px;
    filter: invert(1);
    border-radius: 8px;
    background-color: rgba(229, 229, 229, 0.8);
    height: 25px;
    width: 69vw;
    padding: 20px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    /* gap: 33px; */
    justify-content: flex-end;
    align-items: stretch;
    }
  .musicbtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    /* bottom: 100px; */
    /* left: 358px; */

  }
  .musicbtns img{
    cursor: pointer;
    width: 30px;
  }
  .name_btns_tim{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .playcard_info{
    display: flex;
    align-items: center;
  }
  .songs_list{
    /* max-height: 422px; */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 18px;
    height: 100%;
    flex: 1;
    max-height: 412px;
  }
  .songs_list ul{
    padding: 12px 18px 12px 0;
    height: 100%;
  }
  .songs_list ul li{
    list-style: decimal; 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
    border: 1px solid white;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #151515;
    transition: background-color 0.1s;
    transition: transform 0.1s;
    width: 100%;
}
.songs_list ul li:hover{
    transform: scale(1.1);
}

  .sidecardimgs{
    width: 30px;
  }
  .playnow{
    display: flex;
    justify-content: flex-end;
  }
  .playnow img{
    display: flex;
    justify-content: center;
  }
  .fade_in{
    transition: opacity 0.25s ease-in-out;
    opacity: 1;
  }
  .fade_out{
    opacity: 0;
  }
  .info {
    font-size: 14px;
    /* width: 165px; */
}
.songname{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}
.songname_div{
    width: 262px;
}
.timings{
    margin: 0;
    padding: 0;
    /* left: 755px; */
    width: 262px;
    font-size: small;
    color: rgb(0, 0, 0);
    justify-content: flex-end;
    display: flex;
}
.controls{
    display: flex;
    justify-content: space-between;
}
.seekbar{
    width: 95%;
    height: 3px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 9px;
    border-radius: 13px;
}
.seekbar2{
    width: 0px;
    height: 3px;
    background-color: rgb(255, 0, 0);
    position: relative;
    /* bottom: 9px; */
    border-radius: 13px;
}
.seeker{
    width: 15px;
    height: 15px;
    border-radius: 100px;
    position: relative;
    top: -7px;
    left: 0px;
    
    background-color: black;
}
